body {
    background: #111;
    color: #eee;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container { width: 90%; max-width: 400px; }
h1 { text-align: center; color: #00ff88; }
.panel { background: #222; padding: 15px; border-radius: 8px; margin-bottom: 15px; }
.control { display: flex; justify-content: space-between; margin-bottom: 10px; }
input, select { background: #333; color: white; border: 1px solid #555; padding: 5px; width: 60%; }
.console { 
    background: black; height: 300px; overflow-y: auto; 
    border: 1px solid #333; padding: 10px; font-family: monospace; 
    margin-bottom: 15px;
}

.button-group{
    display: flex;
    gap: 10px;
}
button {
    flex: 1;
    width: 100%; padding: 15px; background: #00ff88; color: black;
    border: none; font-weight: bold; cursor: pointer; font-size: 1.1em;
}
button:disabled { background: #555; }

.btn-stop{
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
}

.btn-stop:disabled{
    background: #444;
}